<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <variable name="logdir" value="logs" />
  <variable name="layout" value="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=ToString}" />

  <targets>
    <target xsi:type="Console" name="console" layout="${layout}" />

    <target xsi:type="File" name="allfile"
            fileName="${logdir}/app.log"
            archiveFileName="${logdir}/archive/app.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${layout}" />

    <target xsi:type="File" name="errorfile"
            fileName="${logdir}/errors.log"
            archiveFileName="${logdir}/archive/errors.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${layout}" />
  </targets>

  <rules>
    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Warn" writeTo="console" final="true" />
    <logger name="Microsoft.*" minlevel="Error" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="console,allfile" />
    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>
